<!DOCTYPE html>
<html lang="en">
<%- include('header'); %>

<body style="background-color: #f6f6f8;">
<%- include('navbar'); %>


<div class="container">
    <div id="container-detail-vendor" style="">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <% errors.forEach(item => { %>
                    <li style="color:red;"><%= item %></li>
                <% }) %>
                <div class="card card-custom">
                    <form action="/transactions" method="post">
                        <div class="card-body" id="detail-vendor" style="border-radius: 5px;">
                            <div class="card-title center">
                                <img src="<%= company.image %>"
                                     class="img-fluid" style="width:50%" alt="">
                            </div>
                            <h5 class="card-subtitle mb-2 text-muted"><%= company.name %></h5>
                            <p class="">
                                <%= company.description %>
                            </p>
                            <p class="card-text">Tingkat Resiko: <b><%= company.riskLevelWord %></b></p>
                            <p class="card-text">Return Investasi: <br><b
                                        class="growth-text-<%= company.growthFlag %>"><%= company.growth %>%</b></p>


                            <div class="progress" id="progressBar">
                                <div class="progress-bar" role="progressbar" style="width: <%= company.CompanyDetail.obligasi_pemerintah %>%" aria-valuenow="15"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-success" role="progressbar" style="width: <%= company.CompanyDetail.obligasi_korporasi %>%"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info" role="progressbar" style="width: <%= company.CompanyDetail.pasar_uang %>%"
                                     aria-valuenow="20"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-3 col-sm-3" id="detailKiriAllocationAsset">
                                    <div class="obligasi-pemerintah" style="">Obligasi Pemerintah</div>
                                    <div class="obligasi-korporasi" style="">Obligasi Korporasi</div>
                                    <div class="pasar-uang" style="">Pasar Uang</div>
                                </div>
                                <div class="col-lg-6 col-md-3 col-sm-3" style="text-align:right;"
                                     id="detailKananAllocationAsset">
                                    <div class="obligasi-pemerintah"><%= company.CompanyDetail.obligasi_pemerintah %>%</div>
                                    <div class="obligasi-korporasi"><%= company.CompanyDetail.obligasi_korporasi %>%</div>
                                    <div class="pasar-uang"><%= company.CompanyDetail.pasar_uang %>%</div>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 20px;">
                                <label for="input-transaction">Nilai Investasi</label>
                                <input type="text" name="total" class="form-control" id="input-transaction"
                                       placeholder="">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="hidden" name="company_id" value="<%= company.id %>">
                                    <input type="submit" class="btn btn-primary floatRight" value="Pembayaran">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    function formatRupiah(angka, prefix) {
        var number_string = angka.replace(/[^,\d]/g, '').toString(),
            split = number_string.split(','),
            sisa = split[0].length % 3,
            rupiah = split[0].substr(0, sisa),
            ribuan = split[0].substr(sisa).match(/\d{3}/gi);

        if (ribuan) {
            separator = sisa ? '.' : '';
            rupiah += separator + ribuan.join('.');
        }

        rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
        return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }


    let inputTransaction = document.getElementById('input-transaction');
    inputTransaction.addEventListener('keyup', function (e) {
        inputTransaction.value = formatRupiah(this.value, 'Rp. ');
    });
</script>

<script src="assets/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>